{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des fruits</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Fruit</th>
                <th>Quantité</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for fruit in fruits %}
            <tr>
                <td><a href="{{ path('fruits_show', { 'id': fruit.id }) }}">{{ fruit.id }}</a></td>
                <td>{{ fruit.nomFruit }}</td>
                <td>{{ fruit.quantite }}</td>
                <td>
                    <a href="{{ path('fruits_show', { 'id': fruit.id }) }}" class="btn btn-default">Voir</a>
                    <a href="{{ path('fruits_edit', { 'id': fruit.id }) }}" class="btn btn-default">Modifier</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('fruits_new') }}" class="btn btn-default btn-add">Ajouter un fruit</a>
{% endblock %}
